In [ ]:
!pip install surprise

In [ ]:
import surprise
from surprise.prediction_algorithms.baseline_only import BaselineOnly
from surprise.model_selection import train_test_split
from surprise.model_selection.search import GridSearchCV
from surprise.prediction_algorithms.knns import KNNBaseline, KNNBasic
from surprise.accuracy import mae
from surprise.prediction_algorithms.matrix_factorization import SVD
from surprise.reader import Reader
import pandas as pd

# Caricamento dei dati

In [ ]:
from surprise import Dataset

In [ ]:
movielens = Dataset.load_builtin('ml-100k')

In [ ]:
train_set, test_set = train_test_split(movielens)

In [ ]:
for i, (uid, iid, rating) in enumerate(train_set.all_ratings()):
    print(train_set.to_raw_iid(uid), train_set.to_raw_iid(iid), rating)
    if i > 10:
        break

In [ ]:
for i, (uid, iid, rating) in enumerate(train_set.all_ratings()):
    print(uid, iid, rating)
    if i > 10:
        break

In [ ]:
bo_algo = BaselineOnly()

In [ ]:
bo_algo.fit(train_set)

In [ ]:
preds = bo_algo.test(test_set)

In [ ]:
mae(preds)

In [ ]:
knn_algo =  KNNBaseline(sim_options={'name': 'cosine', 'user_based': True})

In [ ]:
knn_algo.fit(train_set)

In [ ]:
preds = knn_algo.test(test_set)

In [ ]:
mae(preds)

In [ ]:
svd_algo = SVD()

In [ ]:
svd_algo.fit(train_set)

In [ ]:
preds = svd_algo.test(test_set)

In [ ]:
mae(preds)

# Importazione dataset

In [98]:
df = pd.read_csv(r'F:\Documenti\machine_learning_avanzato\data\BX-Book-Ratings_train.csv', sep=',', names=['user', 'item', 'rating'], skiprows=1, quotechar='"')

In [99]:
df

           user         item  rating
268898    62426   0380815575       0
522944   126736   0590456741       0
816339   198711   0135663806       0
647490   156398  01402.66771       7
1042345  249624   0843941502       5
...         ...          ...     ...
569449   136473   0786001437       0
344428    82131   074932130X       6
781085   189334   0425172996       0
900606   217921   8432206237       0
382903    92810   059035342X       7

[919823 rows x 3 columns]